*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_StorePlantMap,
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Исключаем папку с ключами
app/keystore/
# Исключаем gradle.properties с паролями
gradle.properties